<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="learning cover teach  ">
    <div class="container">
        <header class="header">

            <a href="http://www.programae.org.br" class="heading" title="">Programaê!</a>
        </header>

        <nav class="nav breadcrumbs">
            <ul>
                            </ul>
        </nav>

        <nav class="nav resource-categories">
            <ul>
                <li class="teach"><a href=".">Visão Geral</a></li>
                <li class="learn"><a href="./recursos">Recursos</a></li>
                <li class="make"><a href="./planos">Aulas</a></li>
            </ul>
        </nav>

        <div class="main">

<article class="content">

    <h1>Curso de Python</h1>
    <div class="cover-image">
        <!-- <img src='/learning/resources/sorting-hat-lesson/cover.png' />    </div> -->
        <!-- <img src='css/images/programae_verde.png' width="300" height="200" /> -->
    </div>
    <aside class="overview xxxx">
        <h2>Visão Geral</h2>

        <p>
          print("<b>Olá! Seja bem vindo a uma jornada onde iremos explorar o mundo através da programação. Neste curso você terá contato com o Python</b>")
          <br><br>
          <i style="color:red">"""Não se preocupe se você nunca viu nada a respeito. Vamos praticar bastante e acima de tudo nos divertir. A idéia aqui é <b>programar para aprender</b>."""</i>
          <br><br>
          r = input("<br>Vamos começar?<br>")
          <br>
          if r == "sim":
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;print("Clique <a href="http://maluta.github.io/ctc-python/planos/">aqui</a>")
        </p>


    <aside class="overview xxxx">
        <h2>O que você irá aprender?</h2>

        <p></p>
<ul>
<li>A transformar suas idéias em programas de computador.</li>
<li>A ler e entender a execução dos seus programas.</li>
<li>A pensar de forma diferente.</li>
</ul>    </aside>


    <!-- <aside class="overview study">
        <h2>Formação</h2>

        <ul>
<li>Design, write and debug programs that accomplish specific goals; solve problems by breaking them into smaller parts.</li>
<li>Select, use and combine a variety of software on a range of digital devices to design and create a range of programs.</li>
<li>Use sequence, selection and repetition in programs; work with variables and various forms of input and output.</li>
<li>Use logical reasoning to explain how some simple algorithms work; detect and correct errors in algorithms and programs.</li>
</ul>    </aside> -->


    <aside class="overview xxxxx">
        <h2>Zen of Python</h2>

        Para começar, leia os alguns principios que guiaram o desenvolvimento da linguagem e tente descobrir como você pode obter esta lista utilizando um comando da linguagem.

        <ul>

          <li>Bonito é melhor que feio.</li>
          <li>Explícito é melhor que implícito.</li>
          <li>Simples é melhor que complexo.</li>
          <li>Complexo é melhor que complicado.</li>
          <li>Plano é melhor que aninhado.</li>
          <li>Esparso é melhor que denso.</li>
          <li>Legibilidade conta.</li>
          <li>Casos especiais não são especiais o suficiente para quebrar as regras.</li>
          <li>Embora praticidade vença pureza.</li>
          <li>Erros nunca deveriam passar em silêncio.</li>
          <li>A menos que explicitamente silenciados.</li>
          <li>Diante da ambiguidade, recuse a tentação de adivinhar.</li>
          <li>Deve haver um -- e preferencialmente só um -- modo óbvio para fazer isso.</li>
          <li>Apesar de que daquela maneira pode não ser óbvia à primeira vista, a menos que você seja holandês.</li>
          <li>Agora é melhor que nunca.</li>
          <li>Embora nunca frequentemente seja  melhor que *agora*.</li>
          <li>Se a implementação é difícil de explicar, é uma má ideia.</li>
          <li>Se a implementação é fácil de explicar,  pode ser uma boa ideia.</li>
</ul>    </aside>


<nav class="buttons">
    <a class="button requirements" href="recursos/">O que você vai precisar</a>
    <a class="button lessons" href="planos/">Aulas</a>
</nav>

</article>

{% include footer.html %}

</div>
</div>

</body>

<!--
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
-->
</html>
