<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="learning cover teach  ">
    <div class="container">
        <header class="header">

            <a href="http://www.programae.org.br" class="heading" title="">Programaê!</a>
        </header>

        <nav class="nav breadcrumbs">
            <ul>
                            </ul>
        </nav>

        <nav class="nav resource-categories">
            <ul>
                <li class="teach"><a href=".">Visão Geral</a></li>
                <li class="learn"><a href="./recursos">Recursos</a></li>
                <li class="make"><a href="./planos">Aulas</a></li>
            </ul>
        </nav>

        <div class="main">

<article class="content">

    <h1>Curso de Python</h1>
    <div class="cover-image">
        <!-- <img src='/learning/resources/sorting-hat-lesson/cover.png' />    </div> -->
        <!-- <img src='css/images/programae_verde.png' width="300" height="200" /> -->
    </div>
    <aside class="overview xxxx">
        <h2>Visão Geral</h2>

        <p>TBA</p>


    <aside class="overview xxxx">
        <h2>O que você irá aprender?</h2>

        <p>TBA</p>
<ul>
<li></li>
<li></li>
<li></li>
</ul>    </aside>


    <!-- <aside class="overview study">
        <h2>Formação</h2>

        <ul>
<li>Design, write and debug programs that accomplish specific goals; solve problems by breaking them into smaller parts.</li>
<li>Select, use and combine a variety of software on a range of digital devices to design and create a range of programs.</li>
<li>Use sequence, selection and repetition in programs; work with variables and various forms of input and output.</li>
<li>Use logical reasoning to explain how some simple algorithms work; detect and correct errors in algorithms and programs.</li>
</ul>    </aside> -->


    <aside class="overview xxxxx">
        <h2>Observações</h2>
        TBA

        <ul>
<li></li>
<li></li>
<li></li>
</ul>    </aside>


<nav class="buttons">
    <a class="button requirements" href="recursos/">O que você vai precisar</a>
    <a class="button lessons" href="planos/">Aulas</a>
</nav>

</article>

{% include footer.html %}

</div>
</div>

</body>

<!--
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
-->
</html>
