<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="learning cover learn">

    <div class="container">
        <header class="header">
            <a href="http://www.programae.org.br" class="heading" title="">Programaê!</a>
        </header>

        <nav class="nav breadcrumbs">
            <ul>
                            </ul>
        </nav>

        <nav class="nav resource-categories">
            <ul>
                <li class="teach"><a href="../">Visão Geral</a></li>
                <li class="learn"><a href=".">Recursos</a></li>
                <li class="make"><a href="../planos">Aulas</a></li>
            </ul>
        </nav>

        <div class="main">

<article class="content">

    <h1>Curso Python</h1>

    <div >

        <p>Traremos aqui os recurso que você irá precisar para acompanhar o curso em sala de aula. Pode ser que alguma coisa você precise recorrer ao técnico de informátia do laboratório, sinta-se a vontade para entrar em <a href="mailto:Programae@fundacaolemann.org.br">contato conosco</a>.</p>
        <!-- <img src='/learning/resources/sorting-hat-lesson/cover.png' />  -->

    </div>

  <aside class="overview xxxx">
    <h2>Python</h2>

    <p>Utilizaremos o Python 3 nas aulas, ele é <b>grátis</b> e roda em qualquer sistema.</p>

    <ul>
    <li>Python 3 para <a href="https://www.python.org/ftp/python/3.4.3/python-3.4.3.msi">Windows</a></li>
    <li>Python 3 para <a href="https://www.python.org/ftp/python/3.4.3/python-3.4.3-macosx10.6.pkg">Mac</a></li>
    <li>Python 3 para <a href="https://www.python.org/ftp/python/3.4.3/Python-3.4.3.tgz">Linux</a></li>
    </ul>

  </aside>



    <aside class="overview xxxx">
        <h2>Recursos online</h2>

        <p>Embora ainda limitados, existem algumas maneiras de rodar o Python diretamente do seu navegador</p>

        <ul>
        <li><a href="http://www.codeskulptor.org/">CodeSkulptor</a></li>
        <li><a href="http://repl.it/languages/Python3">Repl.it</a></li>
        <li><a href="https://www.pythonanywhere.com/">PythonAnywhere</a></li>
        <li><a href="https://trinket.io/python/0fc5f5ea7c">Trinket.io</a></li>
        </ul>

    </aside>

    <aside class="overview xxxx">
        <h2>Bibliotecas</h2>

        <p>Algumas bibliotecas que vão te ajudar durante o curso.</p>

        <ul>
        <li><a href="https://code.google.com/p/python-for-android/">Py4A - Python for Android</a></li>
        <li>GAE</li>
        </ul>

    </aside>


<nav class="buttons" style="float: right">
<a class="button lessons" href="../planos/">Aulas</a>
</nav>


  </article>

{% include footer.html %}

        </div>
    </div>
</body>

</html>
